body{
    font-family:tahoma;
    
    background:linear-gradient(rgba(15, 15, 15, 0.1),rgba(15, 15, 15, 0.1)),fixed center;
    background-size:cover;}
  

#Fecha_Reloj{
    
    margin-left: 60%;
    text-align: center;
    color:white;
    font-size: 15px;
    
    
}

#up-el{
    color:#000000;
    padding: 3px;
    border-radius: 4px;
    background:  white;
    border: 1px solid white;
    text-decoration: none;

}
