
* CSS Documsent */

FORMULARIO COMPLETO

.imaye{
  }

.clase{
  background: rgb(255, 255, 255); 
  background:linear-gradient(rgb(245, 245, 245))fixed center;
  -webkit-box-shadow: 0px 3px 20px -2px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 0px 3px 20px -2px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 20px -2px rgba(0,0,0,0.75);
  border-radius:10px 10px 10px 10px;
}


.titulo{
background:rgba(); ;
font-size:40px;
text-align:center;
border-bottom: 6px solid #3498DB;
border-radius:8px 8px 8px 8px ;
color: #000;
}


RADIO BOTON

  .formulario > div {
    padding: 10px 0;
    border-bottom: 8px solid #000; }

  .formulario .radio label {
    display: inline-block;
    cursor: pointer;
    color: #3498DB;
    position: relative;
    padding: 5px 15px 5px 51px;
    font-size: 1em;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; 
  }
  

    .formulario .radio label:before {
      content: "";
      display: inline-block;
      width: 22px;
      height: 22px;
      position: absolute;
      left: 15px;
      border-radius: 50px;
      background: none;
      border: 3px solid #3498DB; }


  .formulario input[type="radio"] {
    display: none; }

    .formulario input[type="radio"]:checked + label:before {
      display: none; }

    .formulario input[type="radio"]:checked + label {
      padding: 5px 20px;
      background: #3498DB  ;
      border-radius: 5px;
      color: #FFFFFF; }

    .error
    { 
        text-align: left;
        color:red;
    }

      .errores{

       padding: -50px;
    margin: 3px;
    background-color: #C51350;
    color: white;
    text-align: left 0;
   width:33%;
   border: 1px solid red;
      }

      .correctos{
   padding: 0px;
    margin: 4px;
    background-color:#239d60;
color: #fafaf6;
    text-align: left 0;
   width:36%;
   border: 1px solid #a3de83;

}








